<launch>
<arg name="bag_input_filename"/>
<arg name="total_long_distance"/>
<arg name="total_short_distance"/>
<arg name="overlap_distance"/>
<arg name="gps_input_filename"/>
<arg name="ctm"/>
<arg name="gdt"/>
<arg name="result_control"/>
<arg name="gps_original_filename"/>
<arg name="gps_improved_filename"/>


<node pkg="gpsCalibration" type="scanRegistration" name="scanRegistration" output="screen"/>
<node pkg="gpsCalibration" type="laserOdometry" name="laserOdometry" output="screen"/>
<node pkg="gpsCalibration" type="laserMapping" name="laserMapping" output="screen"/>
<node pkg="gpsCalibration" type="transformMaintenance" name="transformMaintenance" output="screen"/>

<node pkg="gpsCalibration" type="input_data_node" name="input_data_node" output="screen" 
required="true" args="$(arg bag_input_filename) $(arg total_long_distance) $(arg total_short_distance) $(arg overlap_distance)"/>

<node pkg="gpsCalibration" type="long_distance_track_process_node" name="long_distance_track_process" output="screen" 
args="$(arg gps_input_filename) $(arg ctm) $(arg gdt)" required="true"/>

<node pkg="gpsCalibration" type="short_distance_track_process_node" name="short_distance_track_process_node" output="screen" 
args="$(arg ctm) $(arg gdt) $(arg result_control) $(arg gps_original_filename) $(arg gps_improved_filename)" required="true"/>

</launch>
